* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Montserrat';
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
  
h2 {
  color: #6a1b9a;
  margin: 0;
  text-align: center;
}
  
section > article {
  display: flex;
  justify-content: space-between;
  min-width: 25rem;
  color: white;
  margin: 0.1rem;
  background-color: #d32f2f;
}
  
article > div {
  padding: 0.5rem;

}
  
article > div:nth-child(2) {
  width: 4rem;
  background-color: #e57373;
  text-align: center;
}
  
label {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
  
label span {
  color: rebeccapurple;
  width: 4.5rem;
}
  
input,
select {
  width: 100%;
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: #d32f2f;
  border: 2px solid #6a1b9a;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}
  
button {
  display: block;
  font-family: 'Lato';
  font-size: 1rem;
  margin: 0.5rem 0 0 auto;
  padding: 0.4rem;
  background-color: #d32f2f;
  color: white;
  border: none;
  outline: none;
}
  
button:hover {
  color: white;
  background-color: #737495;
}